{% extends "base.html" %}

<!-- {% block nav-home %}<strong class="nav-active">Home</strong>{% endblock %} -->

<div>
  {% block title %}
  <h2>Welcome!</h2>
  {% endblock title %}
  {% block content %}
<h5>Title description, Dec 7, 2017</h5>
  <p>Some text..</p>
  <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  <br>
  <h2>TITLE HEADING</h2>
  <h5>Title description, Sep 2, 2017</h5>
  <p>Some text..</p>
  <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
</div>
{% endblock content %}