{% extends "base.html" %}
<h2>{% block title %}Contact{% endblock title %}</h2>
{% block content %}
<div>
  <h2>Contact</h2>
  <!-- copypasta form from https://dev.to/drsavvina/build-a-simple-working-contact-form-with-bootstrap-4-mcf -->
  <section class="resume-section p-4 p-lg-5 text-center" id="contact">
    <div class="my-auto">
      <h2 class="mb-4">&lt; Contact Information &gt;</h2>

      <ul class="fa-ul mb-4 ml-0">
        <li id="mail-address">
<!--               Replace with your email address -->
            <i class="fas fa-envelope-open mr-2 contact-icons"></i
            >youremail@mail.com</a
          >
        </li>
        <li>
          <i class="fas fa-mobile-alt mr-2 contact-icons"></i>+48 888 888
        </li>
        <li>
          <i class="fas fa-map-marker-alt mr-2 contact-icons"></i>Oakland, CA
        </li>
      </ul>

      <p>
        ...or leave your message below and I will be back to you as soon as
        possible.
      </p>

      <form
        class="contact-form d-flex flex-column align-items-center"
        action="https://formspree.io/youremail@mail.com"
        method="POST"
      >
        <div class="form-group w-75">
          <input
            type="name"
            class="form-control"
            placeholder="Name"
            name="name"
            required
          />
        </div>
        <div class="form-group w-75">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            name="name"
            required
          />
        </div>

        <div class="form-group w-75">
          <textarea
            class="form-control"
            type="text"
            placeholder="Message"
            rows="7"
            name="name"
            required
          ></textarea>
        </div>

        <button type="submit" class="btn btn-submit btn-info w-75">Submit</button>
      </form>
    </div>
  </section>
<script
  defer
  src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
  integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
  crossorigin="anonymous"
></script>

</div>
{% endblock content %}
