{% extends "base.html" %}

<div>
  
  <h2>{% block title %}Welcome!{% endblock title %}</h2>
  
  {% block content %}
  <h2>Welcome to my Tech Focused Website</h2>
  <br>

  <h5>Learning To Code, April 17, 2020</h5>
  <br>

  <p>What is this all about...</p>
  <br>

  <p>This website is a product of my journey so far as I dive into learning to code. Already I have begun learning many technologies and platforms and have been putting my skills to the test building, problem solving, and researching.</p>
  <br>
  <br>
  <br>

  <br>

  <br>

</div>
{% endblock content %}
